## KNN Algoritmasi

![knn](assets/knn.png)

---

![knn](assets/iris.png)  

---

![knn](assets/iris_table.png)

---

https://www.youtube.com/watch?v=ry_NZ8Wuokk

In [1]:
from sklearn.datasets import load_iris

iris = load_iris()

In [2]:
import pandas as pd
data = pd.DataFrame(iris.data)
data.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [4]:
etiketler = pd.DataFrame(iris.target)
etiketler.head()

   0
0  0
1  0
2  0
3  0
4  0

In [13]:
df = pd.concat([data,etiketler],axis=1)
df.columns= ["sepal uzunluk", "sepal genislik", "petal uzunluk", "petal genislik", "etiket"]
df.head()

   sepal uzunluk  sepal genislik  petal uzunluk  petal genislik  etiket
0            5.1             3.5            1.4             0.2       0
1            4.9             3.0            1.4             0.2       0
2            4.7             3.2            1.3             0.2       0
3            4.6             3.1            1.5             0.2       0
4            5.0             3.6            1.4             0.2       0

In [14]:
from sklearn.model_selection import train_test_split